name: Daily RDS Update

on:
  schedule:
    # This runs at 00:00 UTC every day. 
    # Use 'crontab.guru' to change the timing if needed.
  - cron: '0 12 * * *'
  workflow_dispatch: # This allows you to run it manually for testing

jobs:
  autoscrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with: 
          cache-version: 1
          packages: |
            rvest
            stringr
            dplyr
            jsonlite
